# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "4eb519e830398cc5177b2585e9c2e90f"
name = "reco"
application_url = "https://reco-prod-pi.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://reco-prod-pi.vercel.app/auth/callback", "https://reco-prod-pi.vercel.app/auth/shopify/callback" ]
