# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "dd12218bf9b0432eb4dbc5f8b168ad73"
name = "reco"
application_url = "https://reco-prod-pi.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://reco-prod-pi.vercel.app/api/auth", "https://reco-prod-pi.vercel.app/api/auth/callback", "https://reco-prod-pi.vercel.app/auth/shopify/callback", "https://reco-prod-pi.vercel.app/auth/callback" ]
